.gallery{
    
    background-image:linear-gradient(to bottom, rgb(11, 0, 7), rgb(232, 118, 198));
    color:white;
}

.header-container{
    background-color: rgb(75, 67, 67);
    height:140px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    
}
.header-logo{
    height: 5px;
    width:5px;
}
.header-img{
    height: 100px;
    width:100px;
}
#anchor{
    text-decoration: none;

}
.file{
    color:black;
}
.name{
    color: aliceblue;
    font: 3em sans-sarif;
}
.name1{
    color:rgb(168, 174, 133);
    
}
.form-submit{
    color:black;
}
.footer{
    text-align: center;
    padding-top: 30px;
    height:140px;
    width: 100%;
    background-color: rgb(233, 203, 203);
    color: rgb(18, 16, 16);
}
.name{
    margin-top: 30px;
    color:rgb(12, 50, 77);
    font-weight: bolder;
}